<html>
<h1>
Voltage Graph Test
</h1>
<head>
	<title>{{ title }}</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$( document ).load("/get_time/"+Intl.DateTimeFormat().resolvedOptions().timeZone);
		$( document ).ready(function() {
			$( "#chart-container" ).load("/voltage-chart");
			setInterval(function () {	$( "#chart-container" ).load("/voltage-chart") }, 10000);
		});
	</script>
	<style>
		.modebar{
			display: none !important;
		}
		input, label {
			display:block;
		}
	</style>
</head>
<body>
	<div id="chart-container"></div>
</body>
</html>