<html>
<h1>
Voltage Graph Test
</h1>
<head>
	<title>{{ title }}</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script>
		window.onload = function() {

			var volts = [];
			var avg_volts = [];

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				theme: "light2",
				title: {
					text: "Battery Charge Status"
				},
				toolTip: {
					shared: true
				},
				legend: {
					cursor: "pointer",
					verticalAlign: "top",
					horizontalAlign: "center",
					dockInsidePlotArea: true,
					itemclick: toogleDataSeries
				},
				axisY: [
					{
						title: "Volts",
						titleFontSize: 24
					}
				],
				data: [
					{
						axisYType: "secondary",
						type: "line",
						showInLegend: true,
						name: "Raw Voltage",
						yValueFormatString: "##.### Volts",
						dataPoints: volts
					},
					{
						axisYType: "secondary",
						type: "line",
						showInLegend: true,
						name: "Average Voltage",
						yValueFormatString: "##.### Volts",
						dataPoints: avg_volts
					}
				]
			});

			function addData(data) {
				console.log(data);
				for (var i = 0; i < data.length; i++) {
					volts.push({
						x: new Date(data[i].timestamp),
						y: data[i].voltage
					});
					avg_volts.push({
						x: new Date(data[i].timestamp),
						y: data[i].voltage_avg
					});
				}
				chart.render();

			}

			$.getJSON("/voltage-chart", addData);
			function toogleDataSeries(e){
				if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
					e.dataSeries.visible = false;
				} else{
					e.dataSeries.visible = true;
				}
				chart.render();
			}

		}
	</script>
	<style>
		.modebar{
			display: none !important;
		}
		input, label {
			display:block;
		}
		.canvasjs-chart-credit{
			display: none !important;
		}
		#body-content{
			width:70%;
		}
	</style>
</head>
<body>
	<div id="body-content">
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	</div>
</body>
</html>