<html>
<h1>
Voltage Graph Test
</h1>
<head>
	<title>{{ title }}</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<link rel="stylesheet" href="/style.css">
	<script>
		window.onload = function() {

			var volts = [];
			var avg_volts = [];
			var chart_view_time=30;

			getChartData();


			document.getElementById('time').onchange = function() {
				changeTimeFrame(this.value);
			};
			function changeTimeFrame(time){
				chart_view_time = time;
				getChartData();
			}

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				theme: "light2",
				title: {
					text: "{{ chart_title }}"
				},
				toolTip: {
					shared: true
				},
				legend: {
					cursor: "pointer",
					verticalAlign: "top",
					horizontalAlign: "center",
					dockInsidePlotArea: true,
					itemclick: toggleDataSeries
				},
				axisY: [
					{
						title: "Volts",
						titleFontSize: 24
					}
				],
				data: [
					{
						axisYType: "secondary",
						type: "line",
						showInLegend: true,
						name: "Raw Voltage",
						yValueFormatString: "##.### Volts",
						dataPoints: volts
					},
					{
						axisYType: "secondary",
						type: "line",
						showInLegend: true,
						name: "Average Voltage",
						yValueFormatString: "##.### Volts",
						dataPoints: avg_volts
					}
				]
			});

			function addData(data) {
				while(avg_volts.length > 0) {
					avg_volts.pop();
				}
				while(volts.length > 0) {
					volts.pop();
				}
				for (var i = 0; i < data.length; i++) {
					volts.push({
						x: new Date(data[i].timestamp),
						y: data[i].voltage
					});
					avg_volts.push({
						x: new Date(data[i].timestamp),
						y: data[i].voltage_avg
					});
				}
				chart.render();
			}

			setInterval(function(){
					getChartData();
				},
				10000);

			function getChartData(){
				$.getJSON("/voltage-chart/"+chart_view_time, addData);
			}

			function toggleDataSeries(e){
				if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
					e.dataSeries.visible = false;
				} else{
					e.dataSeries.visible = true;
				}
				chart.render();
			}

		}
	</script>
	<style>

	</style>
</head>
<body>
	<div id="body-content">
		<form id="time-select">
			<label>Timeframe:
				<select name="time" id="time">
					<option value="30">30m</option>
					<option value="60">60m</option>
					<option value="90">90m</option>
					<option value="120">120m</option>
				</select>
			</label>
		</form>
		<div id="chartContainer" style="height: 300px; width: 100%;"></div>
	</div>
</body>
</html>