<html>
<h1>
	Test
</h1>
<head>
        <title>{{ title }}</title>
    </head>
    <body>
    	<form name="timestamp-select" method="POST" action="/adjust-cutoff/">
			<input type="datetime-local" name="cutoff-time" 
			{% if voltage_cutoff_time %}
				value="{{voltage_cutoff_time}}"
			{% endif %}
			/>
			<input type="number" name="interval-limit" min="10" max="6000">
			<input type="submit"/>
		</form>
        <ul>
        {% for graph in voltage_graphs %}
        <li><img src='data:image/png;base64,{{ graph }}'/></li>
		{% endfor %}
	</ul>
    </body>
</html>